// Colours

$black: #000;
$gray-darkest: #191919;
$gray-darker: #292929;
$gray-dark: #3e3e3e;
$gray: #555;
$gray-light: #7e7e7e;
$gray-lighter: #c1c1c1;
$gray-lightest: #eee;
$white: #fff;

$gj-green: #cf0;
$gj-dark-green: #2f7f6f;
$gj-pink: #ff3fac;
$gj-blue: #31d6ff;